body {
    position: relative;
}



#space {
   display: block;
   margin: 800px 0;
}

.navbar {
  width: 160px;
  float: right;
  right: 0;
  background-color: rgba(0, 0, 0, 0.83);
  border-right: solid 8.5px rgba(0, 0, 0, 0.6);
  border-radius: 2%;
}
.nav li {
  width: 120px;
}
.container-fluid h1 {
text-align: center;}

.container-fluid {
  margin-top: 30px;
  padding-top:10px;
  height:180px;
  color: white;
  background-color: rgba(255, 255, 192, 0.2);
  width: 80%;
  border: solid 2px black;
}
