body {
    position: relative;
}
#section2 {padding-top:50px;height:300px;color: black; background-color: #dcdcdc;}
#section3 {padding-top:50px;height:300px;color: black; background-color: #b5b5b5;}
#section44 {padding-top:50px;height:300px;color: black; background-color:#dcdcdc;}
#section5 {padding-top:50px;height:300px;color: black; background-color: #b5b5b5;}

#space {
   display: block;
   margin: 800px 0;
}

.navbar {
  width: 160px;
  float: right;
  right: 0;
  background-color: rgba(0, 0, 0, 0.83);
  border-right: solid 8.5px rgba(0, 0, 0, 0.6);
  border-radius: 2%;
}

.nav li {
  width: 120px;
}
